@import "tailwindcss";

@theme {
  --color-primary: #FF6B00;
  --color-primary-hover: #E05E00;
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
